<footer>
    <div class="background">

        <div class="titre-1">
            <h3>Au petit Village</h3>
        </div>

        <div class="conteneur-social">
            <h3>Nos réseaux sociaux</h3>

            <div class="resaux-sociaux d-flex">
                <a href="http://twitter.com/" target="_blank"></a><img class="icone" [src]="twitter" alt="l'icône de Twitter">
                <a href="http://instagram.com/" target="_blank"></a><img class="icone" [src]="instagram" alt="l'icône de Instagram">
            </div>
        </div>

    </div>

    <small>
        <div>
            <div class="conteneur-copyright gap-1 p-3">
                <img class="copyright" [src]="copyright" alt="symbole copyright: un cercle avec un C à l'interieur">
                <span>Designed by N. Jean-Pierre</span>
            </div>
        </div>
    </small>
</footer>
