.header-contenu {
    padding: 10px 20px;
    background-color: #151217;
}

.logo-conteneur {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
}