<div class="d-flex flex-column align-items-center justify-content-center gap-5">
    <div class="p-4 mt-3 mb-5 col-10 col-md-11 col-lg-10">

        <div class="row m-1">

            <div class="a-propos col-lg-12 mb-3">
                <h2>À Propos</h2>
                <p class="col-11 col-md-9 mx-auto">
                    Bienvenue dans l'univers au Petit Village, Rem qui aut dolorum nostrum
                    dolor doloribus ipsam quibusdam ea dolores provident sed eius omnis
                    consectetur doloribus et hic tenetur quisquam sit corrupti tempora
                    autem suscipit rerum aliquam ad veritatis autem animi ab tempora ullam
                    sequi et ea molestiae et atque ab dolorem hic laboriosam expedita
                    repellat quod inventore vel.
                </p>
            </div>

            <div class="d-flex flex-column flex-md-row gap-5 col-12 mt-5">

                <div class="col-12 col-md-6 me-5">
                    <h3 class="fs-4">L'Art du fait main</h3>
                    <hr />
                    <p>
                        Sed magnam quo enim excepturi quos placeat sed adipisci labore
                        molestiae non et vero velit voluptatem qui voluptas iusto odio.
                        Officia magnam modi assumenda veniam itaque et natus similique et
                        modi et neque sit vitae ab tempora est iure inventore.
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <h3 class="fs-4">Qualité et Authenticité</h3>
                    <hr />
                    <p>
                        Sed magnam quo enim excepturi quos placeat sed adipisci labore
                        molestiae non et vero velit voluptatem qui voluptas iusto odio.
                        Officia magnam modi assumenda veniam itaque et natus similique et
                        modi et neque sit vitae ab tempora est iure inventore.
                    </p>
                </div>

            </div>

            <div class="col-12 mt-5">
                <h3 class="fs-4">Nous Contacter</h3>
                <p>
                    Chez <strong>Au petit village</strong>, sed magnam quo enim
                    excepturi quos placeat sed adipisci labore molestiae non et vero
                    velit voluptatem qui voluptas iusto odio. Officia magnam modi
                    assumenda veniam itaque et natus similique et modi et neque sit
                    vitae ab tempora est iure inventore.
                    
                    <a href="tel:06 20 30 40 50"><img class="tel" [src]="tel" alt="télephone"/> 06 20 30 40 50</a>
                    <a href="mailto:au-petit-village@gmail.com"><img class="email" [src]="email" alt="e-mail"/> au-petit-village&#64;gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</div>