<section class="d-flex justify-content-center mb-5 mt-5">
    <p>
        Cette entreprise est destinée aux individus de toutes tranches d'âge, passionnés par les figurines et aux grands nostalgiques des dessins animés.
    </p>
</section>

<section>
    <div class="encadrement-contenu">

        <h2 class="titre">Top Ventes </h2>

        <div *ngIf="topVentes && topVentes.length" class="top-ventes">
            <div *ngFor="let product of topVentes" class="product-item" >
                <img [src]="product.image" alt="Image {{ product.nom }}">
                <h3> {{ product.nom }} </h3>
                <a [routerLink]="['/produit', product.id]">Voir le produit</a>
            </div>
        </div>

    </div>
</section>

<h2 class="mt-5">Nos produits</h2>

<div class="trie">

    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un produit">

    <select (change)="onSortChange($event)">
        <option value="asc">Prix croissant</option>
        <option value="desc">Prix décroissant</option>
    </select>

</div>

<section *ngIf="products && products.length" class="produit d-flex flex-wrap gap-2 mt-5 mb-5"> 

    <div class="product-card" *ngFor=" let product of (products | filterByName: searchTerm | sortByPrice: sortOrder)">

        <img [src]="product.image" alt="image {{ product.nom }}">

        <h3 class="mt-4">{{ product.nom }}</h3>

        <p>{{ product.description }}</p>
        <p style="font-weight: bold">{{ product.prix | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr' }}</p>

        <img [src]="fleche" style="width: 30px; height: auto; vertical-align: middle; filter: sepia(100%) saturate(5000%) hue-rotate(-10deg) brightness(0.9);" alt="Flèche"/> <a [routerLink]="['/produit', product.id]">Voir le produit</a>
    </div>

</section>

