.encadrement-contenu {
    padding: 20px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.264);
    background-color: #FDD90B;
    border-radius: 10px;
}

.titre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-ventes, .produit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-item {
    text-align: center;
    padding: 10px;
}

.product-item img {
    width: 300px;
    height: 300px;
    text-align: center;
    justify-content: end;
}

.product-card {
    margin-bottom: 10px;
    padding: 10px;
   /*  text-align: center; */
}

.product-card img, .top-ventes img {
    width: 300px;
    height: 300px;
}

.trie {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-bottom: 100px;
} 

.trie input[type="text"] {

    border: 1px solid #ccc;
    border-radius: 4px;

}
      
.trie select {

 border: 1px solid #ccc;

}

@media (max-width: 768px){
    .product-item img{
        width: 100%;
    } 
    .trie {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 50px;
    }
    .trie input[type="text"], .trie select {
        width: 100%;
    }
}