html, body {
    height: 100%;
    padding: auto;
    margin: 20px;
}

body {
    /* margin: 0; */
    font-family: 'Comfortaa', sans-serif;
    background-color: #F9D0A3;
}

h1, h2, h3, h4 {
    font-family: 'Bubbleboddy Neue Trial', sans-serif;
}

a {
    text-decoration: none;
    color: #151217;
    vertical-align: middle;
}

a:hover {
    color: #DA001E ;
}